name: "Pull Request clean-up"

on:
  pull_request:
    types: [unlabeled, closed]

permissions:
 id-token: write
 contents: write
 pull-requests: write 
 deployments: write

jobs:
  clean-up:
    concurrency: deploy-pr-app-${{ github.head_ref }}
    env:
      AWS_DEFAULT_REGION: eu-west-1
    if: |
      (github.event.action == 'unlabeled' && github.event.label.name == ':rocket: deploy') ||
      (github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, ':rocket: deploy'))
    runs-on: ubuntu-latest
    steps:
      - name: inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - name: set STAGE variable in environment for next steps
        run: echo "STAGE=pr-${{ github.event.number }}-${{ env.GITHUB_HEAD_REF_SLUG }}" >> $GITHUB_ENV

      - name: checkout the files
        uses: actions/checkout@v2

      # there is a bug with the actions/cache used in bahmutov/npm-install@v1 on "closed" event
      # more infos here : https://github.com/actions/cache/issues/478
      - name: install node dependencies
        run: npm ci

      - name: configureawscredentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::215092762020:role/github-action-policy
          role-session-name: githubrolesession
          aws-region: ${{env.AWS_DEFAULT_REGION}}

      - name: destroy the stack on AWS
        run: npm run destroy

      - name: delete the github deployments and the corresponding environment
        uses: strumwolf/delete-deployment-environment@v1.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: ${{ env.STAGE }}